---
section: issue
title: SBA Certify Issue Detected
date: {{start_date}}
resolved: {{resolved}}
informational: false
resolvedWhen: {{end_date}}
affected: ['Government Contracting Certification System']
severity: disrupted
---
An issue was dectected with [Government Contracting Certification System](https://certify.sba.gov).  Connectivity may be impacted at this time.  Once the Route53 Healthcheck reports healthy, this issue will automatically resolve.
