# global configuration for all jobs
name: Dev Deployment
on:
  push:
    branches:
      - master
      - IA-2512
# sets the default shell for all jobs
defaults:
  run:
    shell: bash

# permissions can be set globally for jobs
permissions:
  contents: read # contents is used for checking out code
  id-token: write

jobs:
  build-dsbs:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS
        uses: ./.github/actions/aws-auth
        with: # with key is how you can reference input variables within an action
          oidc_role_arn: ${{ secrets.OIDC_ARN }}
      - name: ECR Login, Build & Push
        uses: ./.github/actions/ecr
  deploy-dsbs:
    needs: build-dsbs
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS
        uses: ./.github/actions/aws-auth
        with: # with key is how you can reference input variables within an action
          oidc_role_arn: ${{ secrets.OIDC_ARN }}
      - name: Terraform Plan & Apply
        uses: ./.github/actions/terraform
        with:
          workspace: dev
          folder: ./terraform
